/*X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 320px) and (max-width: 374.98px) {
}

@media (min-width: 375px) and (max-width: 575.98px) {
    .innerDashSearchItemsSpan {
        font-size: 16px;
    }
    .InnerTableHeadingGlobalStyle {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        color: white;
        background-color: #c6a34f !important;
    }
    .InnerTableHeadingGlobalStyleFirstChild {
        border-radius: 0% !important;
        padding: 20px 0px 20px 8px !important;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap-reverse; */
        justify-content: space-around !important;
    }
    .InnerTableDateShow span {
        font-size: 10px !important;
    }
    .InnerTableEmployeeName {
        font-weight: 600 !important;
        font-size: 12px !important  ;
    }
    .InnerTableEmployeeDesignation {
        font-size: 11px !important;
    }
    .InnerTablebodyItemPaddingTopFix {
        font-size: 10px !important;
    }
    .InnerDashboardMoreSelectBtnImg {
        /* width: 100% !important; */
    }
    .InnerDashTableSelectDselectWrap button {
        padding: 4px !important;
    }
}

@media (min-width: 768px) and (max-width: 818.98px) {
    .innerDashSearchItemsSpan {
        font-size: 16px;
    }
    .InnerTableHeadingGlobalStyle {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        color: white;
        background-color: #c6a34f !important;
    }
    .InnerTableHeadingGlobalStyleFirstChild {
        /* border-radius: 0% !important; */
        padding: 20px 0px 20px 8px !important;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap-reverse; */
        justify-content: space-around !important;
    }
    .InnerTableDateShow span {
        font-size: 10px !important;
    }
    .InnerTableEmployeeName {
        font-weight: 600 !important;
        font-size: 12px !important  ;
    }
    .InnerTableEmployeeDesignation {
        font-size: 11px !important;
    }
    .InnerTablebodyItemPaddingTopFix {
        font-size: 10px !important;
    }
    .InnerDashboardMoreSelectBtnImg {
        /* width: 100% !important; */
    }
    .InnerDashTableSelectDselectWrap button {
        padding: 4px !important;
    }
}

@media (min-width: 820px) and (max-width: 1023.98px) {
    .innerDashSearchItemsSpan {
        font-size: 16px;
    }
    .InnerTableHeadingGlobalStyle {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        color: white;
        background-color: #c6a34f !important;
    }
    .InnerTableHeadingGlobalStyleFirstChild {
        /* border-radius: 0% !important; */
        padding: 20px 0px 20px 8px !important;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap-reverse; */
        justify-content: space-around !important;
    }
    .InnerTableDateShow span {
        font-size: 10px !important;
    }
    .InnerTableEmployeeName {
        font-weight: 600 !important;
        font-size: 12px !important  ;
    }
    .InnerTableEmployeeDesignation {
        font-size: 11px !important;
    }
    .InnerTablebodyItemPaddingTopFix {
        font-size: 10px !important;
    }
    .InnerDashboardMoreSelectBtnImg {
        /* width: 100% !important; */
    }
    .InnerDashTableSelectDselectWrap button {
        padding: 4px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1198.98px) {
}

@media (min-width: 1200px) and (max-width: 1339.98px) {
}
@media (min-width: 1340px) and (max-width: 1399.98px) {
    .InnerTableHeadingGlobalStyle {
        padding-top: 28px !important;
        padding-bottom: 21px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 17.36px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1535.98px) {
    .InnerTableHeadingGlobalStyle {
        padding-top: 28px !important;
        padding-bottom: 21px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 17.36px !important;
    }
}
@media (min-width: 1536px) and (max-width: 1598.98px) {
    .InnerTableHeadingGlobalStyle {
        padding-top: 28px !important;
        padding-bottom: 21px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 17.36px !important;
    }
}
@media (min-width: 1600px) and (max-width: 1798.98px) {
    .InnerTableHeadingGlobalStyle {
        padding-top: 28px !important;
        padding-bottom: 21px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 17.36px !important;
    }
}

@media (min-width: 1800px) and (max-width: 2098.98px) {
    .InnerTableHeadingGlobalStyle {
        padding-top: 28px !important;
        padding-bottom: 21px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 17.36px !important;
    }
}
