/* font-family: "Montserrat", sans-serif;
font-family: "Poppins", sans-serif; */
body {
    background-color: #f5f5f5;
}

.InnnerDashboardSearch {
    padding: 20px 0px;
    background-color: #f5f5f5;
}
.innerdashboardBackButton {
    margin-right: 15px;
    width: 49px;
    height: 48px;
    border-radius: 14px;
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
}
.innerDashSearchItemsSpan {
    /* margin-top: 5px !important; */
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #111111;
}
.innerDashRightSideSearchBar {
    margin-top: 7px;
    font-size: 13px;
    color: #7b7b7b;
    padding-left: 50px;
    border-radius: 72px;
    background: white;
    box-shadow: 6px 6px 12px #aaaaaa, -6px -6px 12px #ffffff;
}
.InnerDashSearchCion {
    position: relative;
}
.InnerDashSearchCion img {
    position: absolute;
    top: -4px;
    left: 17px;
}

.myEmployeePageEmployeeCount{
    margin-left: 16px;
    font-size: 20px;
    font-weight: 600;
    color: #C6A34F;
}

/* Card Section Start */

.MyemployeesPageCards{
    margin: 20px 0px;
}

.myEmployeesPageCardColumn{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.myEmployeesActiveInactiveButton{
    
    font-size: 13px;
    font-weight: 500;
    border-radius: 78px;
    background-color: #00C92C1A;
    padding: 6px 9px;
}
.myEmployeesActiveInactiveButton img{
    margin-right: 10.4px;
}
.myEmployeePageBbooknowButtonOverrite{
    margin-left: 15px !important;

    font-weight: 600;
    padding: 0px 80px !important;
}

.myEmployeesInactiveButton{
    font-size: 13px;
    font-weight: 500;
    border-radius: 78px;
    background-color: #FFEDEA;
    padding: 6px 9px;
}
.myEmployeesInactiveButton
     img{
    margin-right: 10.4px;
}