@media (min-width: 320px) and (max-width: 374.98px) {
    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 59px !important;
    }

    .myEmployeesActiveInactiveButton {
        width: 50%;
        margin: 5px 0px 5px -5px;
    }

    .myEmployeesInactiveButton {
        width: 50%;
        margin: 5px 0px 5px -5px;
    }

    .middlePart h5 {
        font-size: 14px;
    }

    .middlePart h6 {
        padding: 10px 20px;
    }

    .footer {
        padding: 30px 10px 80px 10px;
    }

    .footerFinal {
        padding: 10px 6px;
    }
    .InnnerDashboardSearch {
        padding: 7px 0px;
    }

    .innerDashSearchItemsSpan {
        font-size: 18px;
    }

    .socialMediaIcons {
        display: flex;
    }
}

@media (min-width: 375px) and (max-width: 575.98px) {
    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 59px !important;
    }

    .myEmployeesActiveInactiveButton {
        width: 37%;
        margin: 5px 0px 5px -5px;
    }

    .myEmployeesInactiveButton {
        width: 37%;
        margin: 5px 0px 5px -5px;
    }

    .middlePart h5 {
        font-size: 16px;
    }

    .middlePart h6 {
        padding: 10px 20px;
    }

    .footer {
        padding: 30px 10px 80px 10px;
    }

    .footerFinal {
        padding: 15px 10px;
    }

    .InnnerDashboardSearch {
        padding: 7px 0px;
    }

    .socialMediaIcons {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 819.98px) {}

@media (min-width: 820px) and (max-width: 1023.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {

    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 34px !important;
    }
    .footer {
        z-index: -1;
        padding: 90px 10px 70px 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 50px !important;
    }

    .myEmployeesActiveInactiveButton {
        width: 75%;
    }

    .myEmployeesInactiveButton {
        width: 75%;
    }
}
@media (min-width: 1400px) and (max-width: 1499.98px) {
    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 50px !important;
    }

    .myEmployeesActiveInactiveButton {
        
        width: 100%;
    }

    .myEmployeesInactiveButton {
        width: 100%;
    }
    .myEmployeesActiveInactiveButton img {
        margin-left: 26px;
    }
    .myEmployeesInactiveButton img {
        margin-left: 23px;
    }
}
@media (min-width: 1500px) and (max-width: 1599.98px) {
    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 50px !important;
    }

    .myEmployeesActiveInactiveButton {
        
        width: 100%;
    }

    .myEmployeesInactiveButton {
        width: 100%;
    }
    .myEmployeesActiveInactiveButton img {
        margin-left: 24px;
    }
    .myEmployeesInactiveButton img {
        margin-left: 22px;
    }
}

@media (min-width: 1800px) and (max-width: 2199.98px) {

    .myEmployeePageBbooknowButtonOverrite {
        padding: 0px 50px !important;
    }

    .myEmployeesActiveInactiveButton {
        
        width: 100%;
    }

    .myEmployeesInactiveButton {
        width: 100%;
    }
    .myEmployeesActiveInactiveButton img {
        margin-left: 24px;
    }
    .myEmployeesInactiveButton img {
        margin-left: 22px;
    }
}